<%= form_for(@related) do |f| %>
  <% if @related.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@related.errors.count, "error") %> prohibited this related from being saved:</h2>

      <ul>
      <% @related.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :baby_id %><br />
    <%= f.text_field :baby_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
