<h1>Listing relateds</h1>

<table>
  <tr>
    <th>Baby</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @relateds.each do |related| %>
  <tr>
    <td><%= related.baby_id %></td>
    <td><%= related.name %></td>
    <td><%= link_to 'Show', related %></td>
    <td><%= link_to 'Edit', edit_related_path(related) %></td>
    <td><%= link_to 'Destroy', related, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Related', new_related_path %>
