<p id="notice"><%= notice %></p>

<p>
  <b>Baby:</b>
  <%= @related.baby_id %>
</p>

<p>
  <b>Name:</b>
  <%= @related.name %>
</p>


<%= link_to 'Edit', edit_related_path(@related) %> |
<%= link_to 'Back', relateds_path %>
