<h1>Listing shorts</h1>

<table>
  <tr>
    <th>Baby</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shorts.each do |short| %>
  <tr>
    <td><%= short.baby_id %></td>
    <td><%= short.name %></td>
    <td><%= link_to 'Show', short %></td>
    <td><%= link_to 'Edit', edit_short_path(short) %></td>
    <td><%= link_to 'Destroy', short, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Short', new_short_path %>
