<h1>Listing originlangs</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @originlangs.each do |originlang| %>
  <tr>
    <td><%= originlang.name %></td>
    <td><%= link_to 'Show', originlang %></td>
    <td><%= link_to 'Edit', edit_originlang_path(originlang) %></td>
    <td><%= link_to 'Destroy', originlang, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Originlang', new_originlang_path %>
