<%= form_for(@babylang) do |f| %>
  <% if @babylang.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@babylang.errors.count, "error") %> prohibited this babylang from being saved:</h2>

      <ul>
      <% @babylang.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :baby_id %><br />
    <%= f.text_field :baby_id %>
  </div>
  <div class="field">
    <%= f.label :lang_id %><br />
    <%= f.text_field :lang_id %>
  </div>
  <div class="field">
    <%= f.label :pronun %><br />
    <%= f.text_field :pronun %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
