<h1>Listing babylangs</h1>

<table>
  <tr>
    <th>Baby</th>
    <th>Lang</th>
    <th>Pronun</th>
    <th>Gender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @babylangs.each do |babylang| %>
  <tr>
    <td><%= babylang.baby_id %></td>
    <td><%= babylang.lang_id %></td>
    <td><%= babylang.pronun %></td>
    <td><%= babylang.gender %></td>
    <td><%= link_to 'Show', babylang %></td>
    <td><%= link_to 'Edit', edit_babylang_path(babylang) %></td>
    <td><%= link_to 'Destroy', babylang, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Babylang', new_babylang_path %>
