<p id="notice"><%= notice %></p>

<p>
  <b>Baby:</b>
  <%= @babylang.baby_id %>
</p>

<p>
  <b>Lang:</b>
  <%= @babylang.lang_id %>
</p>

<p>
  <b>Pronun:</b>
  <%= @babylang.pronun %>
</p>

<p>
  <b>Gender:</b>
  <%= @babylang.gender %>
</p>


<%= link_to 'Edit', edit_babylang_path(@babylang) %> |
<%= link_to 'Back', babylangs_path %>
