<h1>Listing babyregions</h1>

<table>
  <tr>
    <th>Baby</th>
    <th>Region</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @babyregions.each do |babyregion| %>
  <tr>
    <td><%= babyregion.baby_id %></td>
    <td><%= babyregion.region_id %></td>
    <td><%= link_to 'Show', babyregion %></td>
    <td><%= link_to 'Edit', edit_babyregion_path(babyregion) %></td>
    <td><%= link_to 'Destroy', babyregion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Babyregion', new_babyregion_path %>
