<p id="notice"><%= notice %></p>

<p>
  <b>Baby:</b>
  <%= @babyregion.baby_id %>
</p>

<p>
  <b>Region:</b>
  <%= @babyregion.region_id %>
</p>


<%= link_to 'Edit', edit_babyregion_path(@babyregion) %> |
<%= link_to 'Back', babyregions_path %>
