<center>
	<p class="home_title"><%=t :title %></p>
	<p>~ <%=t :subtitle %> ~</p>
</center>
<header>
		<nav class="round">
 			<ul>
 				<li><%= link_to "home", :controller => "pages", :action => "home" %></li>
 				<li>
 					<%= link_to image_tag("flags/gb.png", :title => "English"), :controller => "application", :action => "set_locale_and_redirect", :locale => "en" %><%= link_to "English", :controller => "application", :action => "set_locale_and_redirect", :locale => "en" %>
 				</li>
 				<li>
 					 <%= link_to image_tag("flags/jp.png", :title => "日本語"), :controller => "application", :action => "set_locale_and_redirect", :locale => "jp" %><%= link_to "日本語", :controller => "application", :action => "set_locale_and_redirect", :locale => "jp" %>
 				</li>
 				<li>
 					<a name="fb_share" type="button" share_url="http://www.mixedbabyname.com/" href="http://www.facebook.com/sharer.php">Share this website</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script> 
 				</li>
 				<li>
 					<%= form_tag babies_path, :method => 'get' do %>  
					<p>  
					    <%= text_field_tag :search, params[:search] %>  
					    <%= submit_tag "Search", :name => nil %>  
					</p>  
					<% end %> 
 				</li>
 			</ul>
	 		
	 	</nav>
</header>
