<!DOCTYPE html>
<html>
	<head>
		<meta name="google-site-verification" content="x27WA7gFh714NWgzxXiJvRC3eE4bfYRmq8zC7KXT63U" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />		
		<meta name="title" content="Mixed Baby Name" /> 
		<meta name="description" content="The search engine that finds multilingual names for your baby. Find out what your name means in different languages, how popular it is, its origin, etc." />
		<link rel="image_src" href="http://www.mixedbabyname.com/images/unisex_small.png" />
		<link rel="target_url" href="http://www.mixedbabyname.com" />
		<meta name="medium" content="image" />
		<meta name="keywords" content="baby names, baby name, mixed names, mixed baby names, happa names, bilingual names, multilingual names, interracial names, international names, hapa names, half names" />
		<link rel="alternate" type="application/rss+xml" title="ROR" href="sitemap.xml" />
		<title><%=t :title %></title>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag :defaults %> 
		<%= csrf_meta_tag %>
		<%= yield(:head) %>
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-23925374-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	</head>
	<body>
	
	<div class="container">
		
  		<%= render 'layouts/header' %>
		<section class="round">
			<%= yield %>
		</section>
  		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>
		
</body>
</html>






